.mask-frame-child {
  position: absolute;
  top: 234px;
  left: 598px;
  width: 100px;
  height: 100px;
}
.loginsign-up {
  position: absolute;
  top: 0;
  left: 0;
}
.loginsign-up-wrapper {
  position: absolute;
  top: 381px;
  left: 167px;
  width: 136px;
  height: 24px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.footer4 {
  top: 751px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1280px;
}
.footer4,
.or-child,
.or1 {
  position: absolute;
}
.or-child {
  top: 14px;
  left: -1px;
  width: 166px;
  height: 2px;
}
.or1 {
  top: 0;
  left: 177px;
}
.or,
.or-item,
.sign-in {
  position: absolute;
  top: 14px;
  left: 216px;
  width: 166px;
  height: 2px;
}
.or,
.sign-in {
  top: 0;
  left: 0;
  width: 381px;
  height: 29px;
}
.sign-in {
  top: 616px;
  left: 451px;
}
.all-rights-reserved4 {
  position: absolute;
  top: 760px;
  left: 25px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  width: 210px;
  height: 31px;
}
.mask-frame-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1280px;
  height: 25px;
}
.password {
  position: relative;
}
.password-field {
  position: absolute;
  top: 447px;
  left: 394px;
  width: 507px;
  height: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-600);
}
.password-icon {
  position: relative;
  width: 44px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
}
.input-field-child {
  position: relative;
  border-right: 2px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 2px;
  height: 38.06px;
}
.div1 {
  position: relative;
  display: inline-block;
  width: 92px;
  height: 23px;
  flex-shrink: 0;
}
.input-field {
  position: absolute;
  top: 442px;
  left: 394px;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  border: 4px solid var(--color-gray-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-304xl) var(--padding-smi)
    var(--padding-lg);
  gap: var(--gap-mini);
  color: var(--color-gray-600);
}
.confirm-password,
.enter-new-password {
  position: absolute;
  top: 205px;
  left: 536px;
  color: var(--color-black);
  display: inline-block;
  width: 223px;
  height: 28px;
}
.confirm-password {
  top: 377px;
  width: 208px;
}
.input-field1 {
  position: absolute;
  top: 270px;
  left: 394px;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  border: 4px solid var(--color-gray-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-304xl) var(--padding-smi)
    var(--padding-lg);
  gap: var(--gap-mini);
  color: var(--color-gray-600);
}
.mask-frame-inner {
  position: absolute;
  top: 564px;
  left: 583px;
  background-color: var(--color-gray-400);
  width: 129px;
  height: 52px;
}
.submit {
  position: absolute;
  top: 579px;
  left: 608px;
  font-size: var(--font-size-4xl);
  display: inline-block;
  font-family: var(--font-roboto);
  width: 80px;
  height: 22px;
}
.mask-frame,
.password-final {
  position: relative;
  overflow: hidden;
}
.mask-frame {
  flex: 1;
  height: 800px;
}
.password-final {
  background-color: var(--cold-grey-white);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--cold-grey-white);
  font-family: var(--font-itim);
}
