.mask-frame-child2 {
  position: absolute;
  top: 234px;
  left: 598px;
  width: 100px;
  height: 100px;
}
.loginsign-up2 {
  position: absolute;
  top: 0;
  left: 0;
}
.loginsign-up-frame {
  position: absolute;
  top: 381px;
  left: 167px;
  width: 136px;
  height: 24px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.footer6 {
  position: absolute;
  top: 751px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1280px;
}
.email-icon1,
.email2 {
  position: relative;
}
.email-icon1 {
  width: 44px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
}
.input-field-child1 {
  position: relative;
  border-right: 2px solid var(--cold-grey-white);
  box-sizing: border-box;
  width: 2px;
  height: 38.06px;
}
.email-field1,
.input-field4 {
  display: flex;
  justify-content: flex-start;
}
.input-field4 {
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  border: 4px solid var(--cold-grey-white);
  box-sizing: border-box;
  width: 507px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-smi) var(--padding-186xl) var(--padding-smi)
    var(--padding-lg);
  gap: var(--gap-mini);
}
.email-field1 {
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.email-field1,
.or-child1,
.or5 {
  position: absolute;
}
.or-child1 {
  top: 14px;
  left: -1px;
  width: 166px;
  height: 2px;
}
.or5 {
  top: 0;
  left: 177px;
}
.or-child2,
.or4,
.sign-in2 {
  position: absolute;
  top: 14px;
  left: 216px;
  width: 166px;
  height: 2px;
}
.or4,
.sign-in2 {
  top: 397px;
  left: 57px;
  width: 381px;
  height: 29px;
}
.sign-in2 {
  top: 219px;
  left: 394px;
  width: 507px;
  height: 426px;
}
.span1 {
  color: var(--cold-grey-white);
}
.use-phone-number {
  color: var(--color-steelblue);
}
.try-another-method-container1 {
  position: absolute;
  top: 639px;
  left: 433px;
  display: inline-block;
  width: 430px;
  height: 32px;
  color: var(--color-black);
}
.all-rights-reserved6 {
  position: absolute;
  top: 760px;
  left: 25px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  width: 210px;
  height: 31px;
}
.mask-frame-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1280px;
  height: 25px;
}
.input-field-child2 {
  position: relative;
  border-right: 2px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 2px;
  height: 38.06px;
}
.div4 {
  position: relative;
  display: inline-block;
  width: 92px;
  height: 23px;
  flex-shrink: 0;
}
.input-field5,
.password-field2 {
  display: flex;
  justify-content: flex-start;
}
.input-field5 {
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  border: 4px solid var(--color-gray-600);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-smi) var(--padding-304xl) var(--padding-smi)
    var(--padding-lg);
  gap: var(--gap-mini);
}
.password-field2 {
  position: absolute;
  top: 447px;
  left: 394px;
  width: 507px;
  height: 23px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-gray-600);
}
.enter-your-email,
.enter-your-otp1,
.otp-has-been1 {
  position: absolute;
  top: 206px;
  left: 506px;
  color: var(--color-black);
  display: inline-block;
  width: 276px;
  height: 28px;
}
.enter-your-otp1,
.otp-has-been1 {
  top: 419px;
  left: 551px;
  width: 178px;
}
.otp-has-been1 {
  top: 353px;
  left: 473px;
  width: 350px;
}
.mask-frame-child4 {
  position: absolute;
  top: 493px;
  left: 926px;
  background-color: var(--color-gray-400);
  width: 90px;
  height: 52px;
}
.verify1 {
  position: absolute;
  top: 508px;
  left: 941px;
  font-size: var(--font-size-4xl);
  display: inline-block;
  font-family: var(--font-roboto);
  width: 68px;
  height: 22px;
}
.mask-frame-child5 {
  position: absolute;
  top: 265px;
  left: 926px;
  background-color: var(--color-gray-400);
  width: 129px;
  height: 52px;
}
.send-otp {
  position: absolute;
  top: 280px;
  left: 941px;
  font-size: var(--font-size-4xl);
  display: inline-block;
  font-family: var(--font-roboto);
  width: 104px;
  height: 22px;
}
.mask-frame2,
.password-email {
  position: relative;
  overflow: hidden;
}
.mask-frame2 {
  flex: 1;
  height: 800px;
}
.password-email {
  background-color: var(--cold-grey-white);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--cold-grey-white);
  font-family: var(--font-itim);
}
