<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/global.css" />
    <title>Sign Up</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>Sign Up</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}<br>{{ form.username() }}</p>
        <p>{{ form.password.label }}<br>{{ form.password() }}</p>
        <p>{{ form.confirm_password.label }}<br>{{ form.confirm_password() }}</p>
        <p>{{ form.submit() }}</p>
        <p><a href="{{ url_for('google') }}">Use Google to Sign Up instead</a></p>
    </form>
</body>
</html>
